<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../abas-combo-box/abas-combo-box.html">

<dom-module id="abas-field-type-selector">
    <script>
        /**
         * `abas-field-type-selector`
         * dropdown to select input type
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class AbasFieldTypeSelector extends Polymer.AbasLocalizeMixin(AbasComboBox) {
            static get is () {
                return 'abas-field-type-selector';
            }

            constructor () {
                super();
                this._boundComboxBoxLocalizations = this._comboxBoxLocalizations.bind(this);
            }

            connectedCallback () {
                super.connectedCallback();

                this.addEventListener('app-localize-resources-loaded', this._boundComboxBoxLocalizations);

                this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));
            }

            disconnectedCallback () {
                super.disconnectedCallback();

                this.removeEventListener('app-localize-resources-loaded', this._boundComboxBoxLocalizations);

            }

            static get properties () {
                return {
                    _boundComboxBoxLocalizations: {type: Function}
                };
            }

            _comboxBoxLocalizations () {
                if (typeof this.localize === 'function') {
                    this.items = [
                        {label: this.localize('abasReference'), value: 'A'},
                        {label: this.localize('checkBox'), value: 'B'},
                        {label: this.localize('number'), value: 'N'},
                        {label: this.localize('text'), value: 'T'},
                        {label: this.localize('date'), value: 'D'}
                    ];
                }
            }
        }

        window.customElements.define(AbasFieldTypeSelector.is, AbasFieldTypeSelector);
    </script>
</dom-module>